.Paper {
  position: absolute;
  width: 75%;
  margin-left: 25%;
  border-left: solit 1px #000000;
  background-color: LightGreen;
}

.Paper-empty p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 60pt;
  color: #bbbbbb;
}
